.no-list {
    padding: 2rem 0;
    text-align: center;
}
.community-item {
    display: block;
    padding: 1.5rem;
    background-color: #fff;
    border-bottom: .1rem solid #d9d9d9;
}
.community-item h2 {
    font-size: 1.7rem;
}
.community-item p {
    margin-top: .6rem;
    font-size: 1.4rem;
    color: #8d8c92;
}